<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment - Blog App</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-r from-blue-300 via-purple-300 to-pink-300 min-h-screen text-gray-200">
    <div class="container mx-auto px-4 py-8">
        <header class="text-center mb-8">
            <h1 class="text-4xl font-extrabold mb-4 text-blue-800">Edit Comment</h1>
        </header>
        <main>
            <form action="/posts/<%= postId %>/comments/<%= comment._id %>?_method=PUT" method="POST" class="mt-8">
                <textarea name="comment[text]" rows="4"
                    class="w-72 text-center border-2 border-gray-300 block mx-auto my-16 text-xl font-semibold p-4 rounded-md bg-gray-200 text-black"
                    required><%= comment.text %></textarea>
                <div class="flex justify-center">
                    <button type="submit"
                        class="mt-4 px-3 py-2 rounded-lg bg-yellow-500 text-black w-48 text-xl hover:bg-yellow-400">
                        Update Comment
                    </button>
                </div>
            </form>
        </main>
    </div>
</body>

</html>